[flake8]
exclude = gunicorn_run.py
import-order-style = google
inline-quotes = '
select=
ignore=D100,D101,D102,D103,D104,D105,D107
count = True
statistics = True
format = pylint
max-line-length = 79
max_complexity = 10